core
vgcore.*
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tmp/
obj/
node
node_g
*.swp
/.project
/.cproject
.fwp
*.scc
*.psd
*.*(old)
*~
*.*~
bin/
LangVal/
Report/
A*.exe
#
User Documentation/
/out
# various stuff that VC++ produces/uses
Debug/
Release/
!doc/blog/**
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.opensdf
 
